
@font-face {
    font-family: 'cooper_hewittbold';
    src: url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittlight';
    src: url('../fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('../fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittthin';
    src: url('cooperhewitt-thin-webfont.woff2') format('woff2'),
         url('cooperhewitt-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbook';
    src: url('../fonts/cooperhewitt-book-webfont.woff') format('woff2'),
         url('../fonts/cooperhewitt-book-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

/******** Styling for the DOM begins here *********/

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --text-clr:#202020;
    --heading-text:#e0eaf3;
    --primary-clr:#161417;
    --hover-link:#00fffb;
    --img-bg:#474747;

/******** FONT SIZES ********/

/******** MOBILE ********/
    --font-title-main: 3rem;
    --font-title-sub: 1.8rem;  
    --font-title-para: 1.2rem; 
    --font-context: .6em;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'cooper_hewittbook';
}

/********** HEADING AND NAVBAR **********/

.header{
    background-color: var(--primary-clr);
    color: var(--heading-text);
    font-family: 'cooper_hewittbold', 'sans-serif'; /* NOT EVERY COMPUTER HAS THIS TYPE OF FONT */
    padding: 1.2em;
}

.header img{
    max-width: 80%;
    text-align: center;
}

.context-text{
    text-align: center;
    font-family: 'cooper_hewittlight', 'sans-serif';
    font-size: var(--font-context);
    padding-top: var(--padding-top);
}

.navbar{
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--primary-clr);
}

.nav__menu{
    list-style: none;
}

.nav__list{
    font-size: var(--font-title-para);
    margin-bottom: .6em;
}

.nav__link{
    display: block;
    text-decoration: none;
}

.nav__link:hover{
    color:var(--hover-link);
    text-decoration: underline;
    transition: 250ms ease-in-out;
}

/******** MAIN CONTENT ********/

.main-img{
    background-image:url(../img/beautiful-day-have-meal-together.jpg);
    background-color: var(--img-bg);
    background-blend-mode: multiply;
    padding: 1.2em;
}

.hero-text{
    color: var(--heading-text);
    margin: 0;
    font-size: var(--font-title-sub);
    font-family: 'cooper_hewittbold', 'sans-serif';
}
.guide-menu{
list-style: square;
}

.work-guide-text{
    text-align: center;
    font-family: 'cooper_hewittbold', 'sans-serif';
    padding: .6em;
}

.guide-list{
    padding-bottom: 1.2em;
    line-height: 1.4;
}